  /* fakenewscss starts here */

body {
  background-color: #f4f8f9;
}

h1{
  font-family: 'Muli', sans-serif;
  color: #62789e;
}

.request{
  font-family: 'Muli', sans-serif;
  padding: 1%;
  font-size: 115%;

}



.navbar-brand {
  color: #ffffff;
  font-size: 240%;
  display: flex;
  align-items: center;

}

.navbar { //removes default border radius of 4px
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%

}

.factit {
  font-family: 'Monoton', cursive;
}

a > img {
  height:35px;
}

.logo, .logo:enabled {
  padding-left: 0;
  padding-bottom: 10px;
  margin-left: -6px;
  color: #899ec1;
}

.login,.signup,.aboutus {
  color: #dbdee0;
  font-size: 110%
}

.login:hover,.signup:hover,.aboutus:hover, {
  color: #859cc4;
}

.logo:hover{
  color: #dbdee0;
}


.btn.btn-success {
  background-color: #2f3133;
  border-color: #2f3133;
  color: #dbdee0;
  border-width: 0px;
  margin-top: 10px
}

.btn.btn-success:hover {
  color: #d9dde0;
  border-width: 0px;
  background-color: #45494c;
}

input[type="text"] {
  width: 100%;
  display: inline-flex;
}

textarea {
  width: 100%;
  display: inline-flex;
}

  /* fakenewscss ends here */

  /* aboutUs css starts here */
#question{
  font-size: 135%;
  color: #62789e;
  font-weight: bold;
  padding:10px
}


#gettingDeeper{
  font-weight: 500;
  font-size: 135%;
  padding:8px;
  color: #62789e;

}

  /* aboutUs css ends here */
