<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Add fake news</title>
    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Monoton|Muli&display=swap" rel="stylesheet">
    <link rel="icon" href="../icon2.png">
    <link href="../style/addFakeNews.css" rel="stylesheet">
  </head>

  <body>
    <body>
      <!--Navigation Bar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color:#2f3133;">
        <a class="navbar-brand" href="#">
          <img src="../icon2.png" >
        </a>
        <a class="navbar-brand factit logo" href="#">
          FactIt
        </a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/aboutus" class="aboutus">About us</a>
            </li>
            <li>
              <a href="/login" class="login">Log in</a>
            </li>
            <li>
              <a href="/signup" class="signup">Sign up</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Navigation Bar Ends Here-->

      <div class="col-md-6 col-md-offset-3" align="center">
        <h1>About us</h1>
    Fake news has been one of the most hotly-debated socio-political topics of
    recent years. Many websites deliberately published hoaxes, causing misleading
    information to pop up across the internet and all over social
    media.

    <br>

      <div id="question" >So how do readers know what is real? FactIt.</div>

    FactIt's fast checking and original website is the solution to combatting fake news.
    As demand for reliable fact checks grew, so did FactIt. Now it’s one of the largest
    and most reliable fact-checking site online, widely regarded by journalists, folklorists,
    and readers as an invaluable research companion.

      <br>
      <br>

      <div id="gettingDeeper" >Getting deeper</div>
    FactIt started in 2019 by a group of students. Ever since, we have been
    fact checking news sources.

</html>
