<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Add fake news</title>
    <link href="../style/addFakeNews.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../javascript/addFakeNews.js"></script>
  </head>

  <body>
    <h1>Add fake news here!</h1>

    <div id= "summary"></div>

    <form>
      <div class= "fakeNews">
      <div id="link">
      Title of fake news <input type="text" id="title">
      <br>
      <br>
      Link of fake news <input type="text" id="link1">
      <br>
      <br>
      Add description of fake news here
      <br><textarea placeholder="Enter description here" name="message" rows="10" cols="50"></textarea>
      </div>
    </form>

    <br>

    <input class = clickableArea type = "submit" value = "Submit Fake News"></input>


  </body>
  </html>
