<html>
  <head>
    <meta charset="utf-8">
    <title>Add fake news</title>

  </head>
  <body>
    <h1>Add fake news here!</h1>
    <form>
      <div class= "fakeNews">
      <div id="link">
      To report a fake news, add the link here... <input type="text" id="link1">
      <br>
      <br>
      Any other sources for the same news? <input type="text" id="link2">
      <br>
      <br>
      Add description of fake news here
      <br><textarea placeholder="Enter description here" name="message" rows="10" cols="30"></textarea>
      </div>
    </form>

  </body>
  </html>
