<!DOCTYPE html>
<html>

<head>
  <meta charset ="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Monoton|Muli&display=swap" rel="stylesheet">
  <link rel="icon" href="https://raw.githubusercontent.com/yvonnelhs/CSSi-proj/master/icon2.png">
  <link rel="stylesheet" href="../style/homepage.css">
  <script src="../javascript/homepage.js"></script>

  <title>FactIt</title>
</head>

<body>
  <!--Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color:#2f3133;">
    <a class="navbar-brand" href="/">
      <img src="https://raw.githubusercontent.com/yvonnelhs/CSSi-proj/master/icon2.png">
    </a>
    <a class="navbar-brand factit logo" href="/">
      FactIt
    </a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/aboutus" class="aboutus">About us</a>
        </li>
        <li>
          <a href="/login" class="login">Log in</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--Navigation Bar Ends Here-->
  <br>

  <h1 class="text-center bigg" style="font-family: 'Monoton', cursive;">FactIt.</h1>
  <h3 class="text-center subtext lead">The world's leading resource on fake news.</h3>

  <form method = "post" action = "/addFakeNews">
  <div class="col-md-3 col-md-offset-5">
    <a href="/addfakenews" class="btn">Click here to add fake news</a>
  </div>
  </form>

  <div class="col-md-6 col-md-offset-3">
    <form role="form" id="form-buscar" method = "post" action = "/newsresults">
      <div class="form-group">
        <div class="input-group" style="margin-bottom:40px;">
          <input class="form-control" type="text" name="search" placeholder="Search..." required/>
          <span class="input-group-btn">
            <button class="btn" type="submit" value="Search">
              Search
              <i class="glyphicon glyphicon-search" style="margin-left:3px;margin-right:3px;"></i>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div align="left" class="boxes">
        <div id="newsTitle">Title: {{fakeNewsTitle}}</div>
        <div id="newsLink">Link: <a href={{fakeNewsLink}}>{{fakeNewsLink}}</a></div>
        <div id="newsContent">Description:{{fakeNewsMessage}}</div>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1" id="">
      <div class="fakeNewsTitle" style="font-size: 150%;" >Latest fake news: </div>
      <ol style="padding-left:30px;list-style-position: inside;">
        <div>
          <li>
            <a href="#TopNews1">TopNews1</a>
          </li>
        </div>
        <div>
          <li>
            <a href="#TopNews2">TopNews2</a>
          </li>
        </div>
        <div>
          <li>
            <a href="#TopNews3">TopNews3</a>
          </li>
        </div>
        <div>
          <li>
            <a href="#TopNews4">TopNews4</a>
          </li>
        </div>
        <div>
          <li>
            <a href="#TopNews5">TopNews5</a>
          </li>
        </div>
      </ol>
      <br><br>
      <div class="footer" style="font-size:70%;">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
  </div>
</div>
<br>
<div id="content" align="center">
<br/>

<div id="loading">
 Loading......
</div>

</body>

</html>


<!--https://bootsnipp.com/snippets/m13mN-->
